<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Hola Taller</title>
</head>
<body>
        <!-- Header -->
        <section id="principal" class="contenedor-1">
            <header class="cabecera">
                <div class="logo">
                    <img src="../static/imagen/logo.png" alt="logo">
                </div>
              <h1 style="margin-left: -20% ; margin-top: 40px; color: #ffffff;"> UNIVERSIDAD AUTONOMA DE CHIAPAS  </h1>
            </header>
            <div class="banner">
                <div class="banner_textos">
                </div>
            </div>
        </section>

       <img width="600px" height="auto" style="margin-top: -35%; position: fixed; margin-left: 5%;" src="../static/imagen/Fondo.jpg" alt="logo">

  <div class="loginbox">
    <h1>ACCESO</h1>
    <form action="">
      <p>Correo</p>
      <input type="text" placeholder="correo">
      <p>Contraseña</p>
      <input type="contraseña" placeholder="contraseña">
      <div class="hero container">
  </div>
  <section id="hero">
    <div class="hero container">
      <div>
        <input type="submit" value="ACCESO">
      </div>
    </div>
  </section>

  <p> &copy derechos reservados </p>

</body>
</html>